<div class="container-main">
  <ng-template [ngIf]="(sharedDataService.publicationList.length>0)">
        <div class="row">
          <div [ngClass]="getColumnClass()">
            <mat-card style="min-height: 200px">
              <mat-card-title>
                <mat-toolbar [style.background-color]="sharedDataService._Customization.headerPanel.bgColor" [style.color]="sharedDataService._Customization.headerPanel.color" [style.font-family]="sharedDataService._Customization.font.style">
                  <span>{{'OUTPUT'|translate}}</span>
                </mat-toolbar>
              </mat-card-title>
              <mat-card-content>
                <div class="row box">
                  <div class="col-md-8">
                    <form name="Form" style="margin-top: -5px" [formGroup]="generatePublicationForm" (ngSubmit)="generatePublication()">
                      <mat-form-field class="pw-full-width pw-ver-mar-sm">
                        <mat-select placeholder="{{'OUTPUT_FORMATS'|translate}}" [ngModel]="sharedDataService.publicationList[sharedDataService.activePublicationIndex]._selectedOutpuFormat"
                          (ngModelChange)="sharedDataService.publicationList[sharedDataService.activePublicationIndex]._selectedOutpuFormat = $event"
                          (selectionChange)="setDefaultOnInit()" formControlName="ouputformat">
                          <mat-option *ngFor="let x of getAllowedOutputFormats(sharedDataService.publicationList[sharedDataService.activePublicationIndex])" value="{{x}}" [style.color]="sharedDataService._Customization.dropDownSelection.color"
                            [style.background-color]="sharedDataService._Customization.dropDownSelection.bgColor" [style.font-family]="sharedDataService._Customization.font.style">
                            {{x}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <ng-template [ngIf]="(sharedDataService.publicationList[sharedDataService.activePublicationIndex]._selectedOutpuFormat=='HQ-PDF')">
                        <mat-form-field class="pw-full-width pw-ver-mar-sm" style="margin-top:5px;">
                          <input (click)="loadPageSettingFirstTime()" matInput placeholder="{{'PDF_QUALITY_SETTINGS'|translate}}" [matAutocomplete]="auto"
                            formControlName="styleName" [ngModel]="sharedDataService.publicationList[sharedDataService.activePublicationIndex]._styleNameCtrl"
                            (ngModelChange)="sharedDataService.publicationList[sharedDataService.activePublicationIndex]._styleNameCtrl= $event"
                            (selectionChange)="setSelectedDataToformControl(sharedDataService.publicationList[sharedDataService.activePublicationIndex]._styleNameCtrl)">
                        </mat-form-field>
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let styleName of filteredPageSettingValue | async" [value]="styleName" [style.color]="sharedDataService._Customization.dropDownSelection.color"
                            [style.background-color]="sharedDataService._Customization.dropDownSelection.bgColor" [style.font-family]="sharedDataService._Customization.font.style">
                            {{ styleName }}
                          </mat-option>
                        </mat-autocomplete>
                      </ng-template>

                      <ng-template [ngIf]="(sharedDataService.publicationList[sharedDataService.activePublicationIndex]._selectedOutpuFormat=='IMG-JPEG')">
                        <mat-form-field class="pw-full-width pw-ver-mar-sm">
                          <input min="72" max="1600" (click)="loadPageSettingFirstTime()" matInput placeholder="{{'IMG_QUALITY_SETTINGS'|translate}}"
                            [matAutocomplete]="auto" formControlName="imageJPEGQuality" [ngModel]="sharedDataService.publicationList[sharedDataService.activePublicationIndex]._imageJPEGQualitySetting"
                            (ngModelChange)="sharedDataService.publicationList[sharedDataService.activePublicationIndex]._imageJPEGQualitySetting= $event"
                            (selectionChange)="validateImageQuality(sharedDataService.publicationList[sharedDataService.activePublicationIndex]._imageJPEGQualitySetting)">
                        </mat-form-field>
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let imageJPEGQuality of imageQualityList" (click)="validateImageQuality(imageJPEGQuality)" [value]="imageJPEGQuality"
                            [style.color]="sharedDataService._Customization.dropDownSelection.color" [style.background-color]="sharedDataService._Customization.dropDownSelection.bgColor"
                            [style.font-family]="sharedDataService._Customization.font.style">
                            {{ imageJPEGQuality }}
                          </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf=(this.sharedDataService.publicationList[this.sharedDataService.activePublicationIndex]._incorrectImageQualityError)>
                          <p style="font-size: 12px;">{{'INCORRECT_IMAGE_QUALITY'|translate}}</p>
                        </mat-error>
                      </ng-template>

                      <ng-template [ngIf]="(sharedDataService.publicationList[sharedDataService.activePublicationIndex]._selectedOutpuFormat=='IMG-PNG')">
                        <mat-form-field class="pw-full-width pw-ver-mar-sm">
                          <input min="72" max="1600" (click)="loadPageSettingFirstTime()" matInput placeholder="{{'IMG_QUALITY_SETTINGS'|translate}}"
                            [matAutocomplete]="auto" formControlName="imagePNGQuality" [ngModel]="sharedDataService.publicationList[sharedDataService.activePublicationIndex]._imagePNGQualitySetting"
                            (ngModelChange)="sharedDataService.publicationList[sharedDataService.activePublicationIndex]._imagePNGQualitySetting= $event"
                            (selectionChange)="validateImageQuality(sharedDataService.publicationList[sharedDataService.activePublicationIndex]._imagePNGQualitySetting)">
                        </mat-form-field>
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let imagePNGQuality of imageQualityList" (click)="validateImageQuality(imagePNGQuality)" [value]="imagePNGQuality"
                            [style.color]="sharedDataService._Customization.dropDownSelection.color" [style.background-color]="sharedDataService._Customization.dropDownSelection.bgColor"
                            [style.font-family]="sharedDataService._Customization.font.style">
                            {{ imagePNGQuality }}
                          </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf=(this.sharedDataService.publicationList[this.sharedDataService.activePublicationIndex]._incorrectImageQualityError)>
                          <p style="font-size: 12px;">{{'INCORRECT_IMAGE_QUALITY'|translate}}</p>
                        </mat-error>
                      </ng-template>

                      <mat-form-field style="margin-top: 5px" class="pw-full-width">
                        <mat-select placeholder="{{'LOG_LANGUAGES'|translate}}" [(ngModel)]="sharedDataService.publicationList[sharedDataService.activePublicationIndex]._selectedLanguage"
                          formControlName="language">
                          <mat-option *ngFor="let language of getAllowedLogLanguage(sharedDataService.publicationList[sharedDataService.activePublicationIndex])"
                            value="{{language}}" [style.color]="sharedDataService._Customization.dropDownSelection.color" [style.background-color]="sharedDataService._Customization.dropDownSelection.bgColor" [style.font-family]="sharedDataService._Customization.font.style">
                            {{language}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <button type="submit" style="margin-top: -5px" routerLinkActive="active" mat-raised-button [ngStyle]="setbuttonStyleGenerate()"
                        [disabled]="(!generatePublicationForm.valid || this.sharedDataService.publicationList[this.sharedDataService.activePublicationIndex]._incorrectImageQualityError || this.sharedDataService.publicationList[this.sharedDataService.activePublicationIndex]._ignoreProductStateEnable)">{{'GENERATE'|translate}}</button>
                      <div class="col-sm-12" *ngIf="(!this.sharedDataService.publicationList[this.sharedDataService.activePublicationIndex]._ignoreProductStateData && this.sharedDataService.publicationList[this.sharedDataService.activePublicationIndex]._ignoreProductStateFlag)">
                        <mat-error>
                          <p style="font-size: 12px;margin-top: 10px;">{{'INVALID_IGNORE_PRODUCT_STATE'|translate}}</p>
                        </mat-error>
                      </div>
                    </form>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="{{(sharedDataService.publicationList[sharedDataService.activePublicationIndex]._selectedOutpuFormat=='INT-PDF')||(sharedDataService.publicationList[sharedDataService.activePublicationIndex]._selectedOutpuFormat=='INDD')||
          (sharedDataService.publicationList[sharedDataService.activePublicationIndex]._selectedOutpuFormat=='HQ-PDF')||(sharedDataService.publicationList[sharedDataService.activePublicationIndex]._selectedOutpuFormat=='FLIB')||(sharedDataService.publicationList[sharedDataService.activePublicationIndex]._selectedOutpuFormat=='HTML5') ? 'col-sm-4': 'col-sm-4'}}"
            *ngIf="sharedDataService._Customization.selectedPages.visible =='true'">
            <mat-card style="min-height: 200px">
              <mat-card-title>
                <mat-toolbar [style.background-color]="sharedDataService._Customization.headerPanel.bgColor" [style.color]="sharedDataService._Customization.headerPanel.color" [style.font-family]="sharedDataService._Customization.font.style">
                  <span>{{'SELECTED_PAGES'| translate}}</span>
                </mat-toolbar>
              </mat-card-title>
              <mat-card-content>
                <div class="row box">
                  <div class="col-md-8">
                    <mat-checkbox [disabled]="sharedDataService.publicationList[sharedDataService.activePublicationIndex]._selectedPages.length<1"
                      [ngModel]="(sharedDataService.publicationList[sharedDataService.activePublicationIndex]._selectedPages.length>0)?sharedDataService.publicationList[sharedDataService.activePublicationIndex]._isGenerateSelectedPageSelected: false"
                      (ngModelChange)="getIfGenerateSelectedPageSelected()">{{'GENERATE_SELECTED_PAGES_ONLY'|translate}}</mat-checkbox>

                    <div class="pages">
                      <label>{{'CURRENT_SELECTED_PAGES'|translate}}:</label>
                      <br>
                      <span>{{sharedDataService.publicationList[sharedDataService.activePublicationIndex]._selectedPages.length>0
                        ?sharedDataService.publicationList[sharedDataService.activePublicationIndex]._currentSelectedPagesNumber:''}}
                      </span>
                      <span [ngStyle]="{float:sharedDataService.publicationList[sharedDataService.activePublicationIndex]._selectedPages.length>0 ? 'right' : ''}">{{sharedDataService.publicationList[sharedDataService.activePublicationIndex].selectedPubPages.length}}
                        {{'PAGES_SELECTED'|translate}}
                      </span>
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>

          <div class="{{sharedDataService._Customization.selectedPages.visible =='true' ? 'col-sm-4': 'col-sm-4'}}" *ngIf="(sharedDataService.publicationList[sharedDataService.activePublicationIndex]._selectedOutpuFormat=='INT-PDF')||(sharedDataService.publicationList[sharedDataService.activePublicationIndex]._selectedOutpuFormat=='INDD')||
          (sharedDataService.publicationList[sharedDataService.activePublicationIndex]._selectedOutpuFormat=='HQ-PDF')||(sharedDataService.publicationList[sharedDataService.activePublicationIndex]._selectedOutpuFormat=='FLIB')||(sharedDataService.publicationList[sharedDataService.activePublicationIndex]._selectedOutpuFormat=='HTML5')">
            <div style="min-height: 200px">
              <mat-card-title>
                <mat-toolbar [style.background-color]="sharedDataService._Customization.headerPanel.bgColor" [style.color]="sharedDataService._Customization.headerPanel.color" [style.font-family]="sharedDataService._Customization.font.style">
                  <span>{{'OPTION_FOR_OUTPUT'|translate}}</span>
                </mat-toolbar>
              </mat-card-title>
              <mat-card-content class="{{sharedDataService._Customization.selectedPages.visible =='true' ? 'option-output-full mat-card': 'option-output-half mat-card'}}">
                <span class="spinnerMask" *ngIf="sharedDataService.publicationList[sharedDataService.activePublicationIndex].generateDataStatus">
                  <mat-spinner [diameter]="45" [strokeWidth]="5" color="accent" class="spinner"></mat-spinner>
                </span>
                <div class="row box">
                  <ng-template [ngIf]="((sharedDataService.publicationList[sharedDataService.activePublicationIndex]._selectedOutpuFormat=='INT-PDF')||(sharedDataService.publicationList[sharedDataService.activePublicationIndex]._selectedOutpuFormat=='INDD')||(sharedDataService.publicationList[sharedDataService.activePublicationIndex]._selectedOutpuFormat=='HQ-PDF'))">
                    <div class="col-md-8">
                      <mat-checkbox [(ngModel)]="sharedDataService.publicationList[sharedDataService.activePublicationIndex]._isAppendMode" (ngModelChange)="updateCheckboxColor()">
                        {{'APPEND_PAGES'|translate}} </mat-checkbox>
                    </div>
                    <ng-template [ngIf]="sharedDataService.publicationList[sharedDataService.activePublicationIndex]._isAppendMode">
                      <div class="col-md-8 ib-left-padd-40">
                        <mat-form-field>
                          <mat-select [(ngModel)]="sharedDataService.publicationList[sharedDataService.activePublicationIndex]._selectedAppendMode"
                            placeholder="{{'APPEND_MODE'|translate}}" name="" class="pw-full-width">
                            <mat-option *ngFor="let x of appendMode" value="{{x}}" [style.color]="sharedDataService._Customization.dropDownSelection.color"
                              [style.background-color]="sharedDataService._Customization.dropDownSelection.bgColor" [style.font-family]="sharedDataService._Customization.font.style">
                              {{x|translate}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-8 ib-left-padd-40">
                        <mat-form-field class="pw-full-width">
                          <input disabled matInput placeholder="" value="{{sharedDataService.publicationList[sharedDataService.activePublicationIndex]._appendFileName}}">
                        </mat-form-field>
                      </div>
                      <div>
                        <div class="col-md-4">
                          <button class="pull-right" mat-button mat-raised-button [ngStyle]="button_enabled_style" (click)="uploadAppendPage()">{{'UPLOAD'|translate}}</button>
                          <input type="file" accept=".indd" style="display:none;" id="uploadappendpage" name="file" (change)="uploadAppendFile($event)"
                          />
                        </div>
                      </div>
                    </ng-template>
                  </ng-template>
                  <ng-template [ngIf]="(sharedDataService.publicationList[sharedDataService.activePublicationIndex]._selectedOutpuFormat=='INDD')">
                    <div class="col-md-12">
                      <mat-checkbox [(ngModel)]="sharedDataService.publicationList[sharedDataService.activePublicationIndex]._isIncludeUpdateInformation" (ngModelChange)="updateCheckboxColor()">
                        {{'INCLUDE_UPDATE_INFORMATION'|translate}} </mat-checkbox>
                    </div>
                    <div class="col-md-12">
                      <mat-checkbox [(ngModel)]="sharedDataService.publicationList[sharedDataService.activePublicationIndex]._isIncludeBidirectionalUpdate" (ngModelChange)="updateCheckboxColor()">
                        {{'INCLUDE_BIDIRECTIONAL_UPDATE_INFORMATION'|translate}} </mat-checkbox>
                    </div>
                    <div class="col-md-12">
                      <mat-checkbox [(ngModel)]="sharedDataService.publicationList[sharedDataService.activePublicationIndex]._isIncludeUpdateVariables" (ngModelChange)="updateCheckboxColor()">
                        {{'INCLUDE_UPDATE_VARIABLES'|translate}} </mat-checkbox>
                    </div>
                    <div class="col-md-12">
                      <mat-checkbox (click)="includeAll()" [(ngModel)]="sharedDataService.publicationList[sharedDataService.activePublicationIndex]._isCreateIndesignPackage">
                        {{'CREATE_INDESIGN_PACKAGE'|translate}} </mat-checkbox>
                    </div>
                    <ng-template [ngIf]="sharedDataService.publicationList[sharedDataService.activePublicationIndex]._isCreateIndesignPackage">
                      <div class="col-md-12 ib-left-padd-40">
                        <mat-checkbox [(ngModel)]="sharedDataService.publicationList[sharedDataService.activePublicationIndex]._isIncludeFonts" (ngModelChange)="updateCheckboxColor()">
                          {{'INCLUDE_FONTS'|translate}} </mat-checkbox>
                      </div>
                      <div class="col-md-12 ib-left-padd-40">
                        <mat-checkbox [(ngModel)]="sharedDataService.publicationList[sharedDataService.activePublicationIndex]._isIncludeGraphics" (ngModelChange)="updateCheckboxColor()">
                          {{'INCLUDE_GRAPHICS'|translate}} </mat-checkbox>
                      </div>
                      <div class="col-md-12 ib-left-padd-40">
                        <mat-checkbox [(ngModel)]="sharedDataService.publicationList[sharedDataService.activePublicationIndex]._isIncludeProfiles" (ngModelChange)="updateCheckboxColor()">
                          {{'INCLUDE_PROFILES'|translate}} </mat-checkbox>
                      </div>
                      <div class="col-md-12 ib-left-padd-40">
                        <mat-checkbox [(ngModel)]="sharedDataService.publicationList[sharedDataService.activePublicationIndex]._isUpdateGraphicslinks" (ngModelChange)="updateCheckboxColor()">
                          {{'UPDATE_GRAPHICSLINKS'|translate}} </mat-checkbox>
                      </div>
                      <div class="col-md-12 ib-left-padd-40">
                        <mat-checkbox [(ngModel)]="sharedDataService.publicationList[sharedDataService.activePublicationIndex]._isIncludeHiddenLayers" (ngModelChange)="updateCheckboxColor()">
                          {{'INCLUDE_HIDDEN_LAYERS'|translate}} </mat-checkbox>
                      </div>
                    </ng-template>
                  </ng-template>
                  <ng-template [ngIf]="(sharedDataService.publicationList[sharedDataService.activePublicationIndex]._selectedOutpuFormat=='HTML5')">
                    <div class="col-md-12">
                      <mat-checkbox [(ngModel)]="sharedDataService.publicationList[sharedDataService.activePublicationIndex]._isSingleFileMode"
                        (click)="updateCheckboxColor()">
                        {{'SINGLE_FILE_MODE'|translate}} </mat-checkbox>
                    </div>
                    <ng-template [ngIf]="(sharedDataService.publicationList[sharedDataService.activePublicationIndex]._isSingleFileMode)">
                      <div class="col-md-12 ib-left-padd-40">
                        <mat-checkbox (click)="uncheckCopyImage()" [(ngModel)]="sharedDataService.publicationList[sharedDataService.activePublicationIndex]._isPreview">
                          {{'PREVIEW'|translate}} </mat-checkbox>
                      </div>
                    </ng-template>
                    <div class="col-md-12">
                      <mat-checkbox (click)="unCheckPreview()" [(ngModel)]="sharedDataService.publicationList[sharedDataService.activePublicationIndex]._isCopyImages">
                        {{'COPY_IMAGES'|translate}} </mat-checkbox>
                    </div>
                  </ng-template>
                  <ng-template [ngIf]="(sharedDataService.publicationList[sharedDataService.activePublicationIndex]._selectedOutpuFormat=='FLIB')">

                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-6">
                          <strong>{{'FORMAT'|translate}}</strong>
                          <div style="padding-top:10px">
                            <mat-checkbox [(ngModel)]="sharedDataService.publicationList[sharedDataService.activePublicationIndex]._isFlippingEffect" (ngModelChange)="updateCheckboxColor()">
                              {{'FLIPPING_EFFECT'|translate}} </mat-checkbox>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </div>
              </mat-card-content>
            </div>
          </div>
        </div>
    <div class="row">
      <div style="letter-spacing: 2px;">
        <div class="col-sm-8">
          <mat-card style="min-height: 200px;margin-top: 5px;">
            <mat-card-title>
              <mat-toolbar [style.background-color]="sharedDataService._Customization.headerPanel.bgColor" [style.color]="sharedDataService._Customization.headerPanel.color"
                [style.font-family]="sharedDataService._Customization.font.style">
                <span>{{'JOBLIST'|translate}}</span>
                <span class="element-spacer"></span>
                <mat-icon data-toggle="tooltip" title="{{'DELETE_ALL'|translate}}" class="generate-icon pull-right" (click)=deleteAllJoblist()>delete_forever</mat-icon>
              </mat-toolbar>
            </mat-card-title>
            <mat-card-content>
              <div class="box">
                <div class="row">
                    <div class="col-md-6 col-sm-5">
                        <h4>{{'NAME'|translate}}</h4>
                    </div>
                    <div class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0">
                      <h4 style="text-align: center;">{{'STARTTIME'|translate}}</h4>
                    </div>
                </div>
                <div class="row" *ngFor="let job of this.sharedDataService.publicationList[this.sharedDataService.activePublicationIndex]._jobList">
                  <div class="col-md-6 col-sm-5">
                    <h5 style="word-break: break-all;">{{job._fileName}}</h5>
                  </div>
                  <div class="col-md-3 col-sm-4">
                      <h5 style="text-align: center;">{{job._starttime| customdate:'DD/MM/YYYY HH:mm:ss'}}</h5>
                  </div>
                  <div class="col-md-3">
                      <ng-template [ngIf]="job._downloadStatus">
                          <div id="generationProcess" class="col-md-12">
                            <mat-icon data-toggle="tooltip" title="{{'DELETE'|translate}}" class="generate-icon pull-right" (click)=deleteJoblist(job)>delete</mat-icon>
      
      
                            <div *ngIf="!job._html5Preview;then target_self else target_blank"></div>
                            <ng-template #target_self>
                              <form name="{{job._jobId}}" method="post" action="{{appConfig.getBaseURLWithContextPath()}}/download" target="_self" rel="noopener noreferrer">
                                <input type="hidden" name="tokenid" value="{{job._downloadURL}}">
                                <input type="hidden" name="preview" value="{{job._html5Preview?'1':'0'}}">
                              </form>
                            </ng-template>
      
                            <ng-template #target_blank>
                              <form name="{{job._jobId}}" method="post" action="{{appConfig.getBaseURLWithContextPath()}}/download" target="_blank" rel="noopener noreferrer">
                                <input type="hidden" name="tokenid" value="{{job._downloadURL}}">
                                <input type="hidden" name="preview" value="{{job._html5Preview?'1':'0'}}">
                              </form>
                            </ng-template>
      
      
                            <ng-template [ngIf]="!job._html5Preview">
                              <a target="_blank" class="generate-icon pull-right" (click)="submitDownloadForm(job._jobId)" rel="noopener noreferrer">
                                <mat-icon data-toggle="tooltip" title="{{'DOWNLOAD'|translate}}">file_download</mat-icon>
                              </a>
                            </ng-template>
                            <ng-template [ngIf]="job._html5Preview">
                              <a target="_blank" class="generate-icon pull-right" (click)="submitDownloadForm(job._jobId)" rel="noopener noreferrer">
                                <mat-icon data-toggle="tooltip" title="{{'PREVIEW'|translate}}">visibility</mat-icon>
                              </a>
                            </ng-template>
                          </div>
                        </ng-template>
                         <ng-template [ngIf]="!job._downloadStatus">
                          <ng-template [ngIf]="job._generationStatus!=100">
                            <div id="errorInGeneration" class="col-md-12">
                              <mat-icon data-toggle="tooltip" title="{{'DELETE'|translate}}" class="generate-icon pull-right"  (click)=deleteJoblist(job)>delete</mat-icon>
                              <mat-icon data-toggle="tooltip" title="{{'GENERATION_FAILED'|translate}}" class="generate-icon pull-right">error</mat-icon>
                            </div>
                          </ng-template>
                        </ng-template> 
                  </div>
                  <div class="col-md-6 col-sm-6 pull-right">
                  <ng-template [ngIf]="!job._downloadStatus">
                      <ng-template [ngIf]="job._generationStatus==100">
                        <div id="generationComplete">
                          <mat-progress-bar class="pull-right" mode="indeterminate"></mat-progress-bar>
                        </div>
                      </ng-template>
                    </ng-template>     
                </div>
              </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>

  </ng-template>
</div>