.loglang-block {
    padding: 5px 25px 5px 5px;
    overflow-y: auto;
    height: 160px;
    margin-bottom: 5px;
  }
  .log-lang-check {
    display: none;
    cursor: pointer;
    float: left;
  }
  
  .log-lang-img {
    width: 35px;
    cursor: pointer;
    float: left;
    opacity: .8;
    padding: 5px;
    margin: 2px;
    border: 2px solid #efefef;
  }

  .right {
    float: right;
  }