$background-grey-color:  #555 ;
$background-white-color: white;

.element-spacer {
    flex: 1 1 auto;
}

.container-main{
    margin-top:-10px;
}

.headers{
    background-color: $background-grey-color !important;;
    max-height: 35px !important;
    display: block;
}

mat-icon{
    color: $background-white-color !important;;
    font-size: 34px;
}

.header_settings{
    font-size: 24px;
    color: $background-grey-color !important;; 
    cursor: pointer;
} 

.statistics_minimum { 
      display: block; 
      height: calc(100vh - 492px);
      overflow-x:hidden;
}

.statistics_maximum { 
    display: block; 
    height: calc(100vh - 160px);
    width: 100%;
    overflow-x:hidden;
}

.activityStream_minimum { 
    display: block; 
    height: calc(100vh - 400px);
    overflow-y:auto; 
}

.activityStream_maximum { 
    display: block; 
    height: calc(100vh - 160px);
    overflow-y:auto; 
}

.toDoList{
    display: block; 
    height: calc(100vh - 160px);
}

.heading{
   color: $background-white-color !important;
}

.right_padding{
    padding-right: 30px;
}

span{
    letter-spacing: 3px;
}

.icon-padding {
    padding-bottom: 30px;
}

@media (min-width: 992px) {
    .icon-padding {
      padding-bottom: 5px;
    }
}