.spinnerContainer {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: calc(100vh - 43px);
    
    img {
        position: absolute;
        width: 45px;
        margin: auto;
        top: -57px;
        bottom: 0;
        left: 0;
        right: 0;
    }
}